<svg id="completion" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 101">
	<g id="configurator">
		<g id="configurator_completion">
			<g id="stars" class="stars">
				<circle id="Oval" class="st3" cx="25.9" cy="4" r="1"/>
				<circle id="Oval-Copy-4" class="st3" cx="38.9" cy="6" r="1"/>
				<circle id="Oval-Copy-10" class="st3" cx="87.9" cy="6" r="1"/>
				<circle id="Oval-Copy-2" class="st3" cx="73.4" cy="-1.5" r="1.5"/>
				<circle id="Oval-Copy-9" class="st3" cx="105.9" cy="39" r="1"/>
				<circle id="Oval-Copy-6" class="st3" cx="99.9" cy="0" r="1"/>
				<circle id="Oval-Copy-7" class="st3" cx="70.9" cy="-13" r="1"/>
				<circle id="Oval_1_" class="st3" cx="54.9" cy="-5" r="2"/>
				<path id="ster-01" class="st3" d="M40.4-10.2L37.9-8l2.2-2.5L37.9-13l2.5,2.2l2.5-2.2l-2.2,2.5L42.9-8L40.4-10.2z"/>
				<path id="ster-01_1_" class="st3" d="M15.4,36.9l-2.1,2.4l1.7-2.7l-2.9-1.2l3.1,0.8l0.2-3.2l0.2,3.2l3.1-0.8l-2.9,1.2l1.7,2.7
					L15.4,36.9z"/>
				<path id="ster-01_2_" class="st3" d="M105.4,13.8l-2.5,2.2l2.2-2.5l-2.2-2.5l2.5,2.2l2.5-2.2l-2.2,2.5l2.2,2.5L105.4,13.8z"/>
				<circle id="Oval-Copy-5" class="st3" cx="102.9" cy="26" r="2"/>
				<circle id="Oval-Copy-3" class="st3" cx="18.9" cy="22" r="2"/>
				<circle id="Oval-Copy-8" class="st3" cx="19.4" cy="-8.5" r="0.5"/>
			</g>
		</g>
	</g>
	<g id="cirkel" class="cirkel">
		<g id="Mask">
			<path id="path-1_1_" class="st4" d="M60,7c22.1,0,40,17.9,40,40S82.1,87,60,87S20,69.1,20,47S37.9,7,60,7z"/>
		</g>
	</g>
	<g>
		<g>
			<circle class="st5 mark" cx="60" cy="65.5" r="4.2"/>
			<path class="st5 mark" d="M60,57.3L60,57.3c-1.4,0-2.6-1.2-2.6-2.6l-0.9-31.8c0-2.3,1.6-4.8,3.5-4.8l0,0c1.9,0,3.5,2.6,3.5,4.8
				l-0.9,31.8C62.6,56.1,61.4,57.3,60,57.3z"/>
			<path class="st5 mark" d="M60,18c1.9,0,4.8,1.8,4.8,4.8l-2.2,31.1"/>
		</g>
		<path class="st5 mark" d="M57.4,54.7l-2.2-31.1c0-3.1,2.2-5.6,4.8-5.6l0,0"/>
	</g>
</svg>
