<button class="hamburger hamburger--spin" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<nav class="nav-top">
  <!-- <h3 class="header-3">What are you looking for?</h3>
  <input class="search-box" type="text" name="" value=""> -->

  <!-- <img class="logo-login" src="img/logo-bottled.png" alt=""> -->
  <h1 class="header">Your last found note this session</h1>
  <div class="bottle bottle-reveal found-bottle">
    <h1 class="bottle-text-intro">Dear {{nickname}}</h1>
    <p class="bottle-text">{{bottleText}}</p>
    <p class="bottle-text-ending">- {{creator}}</p>
  </div>

  <a ng-click="submitLogout()" class="login-button2 logout2"><span>LOGOUT</span></a>

</nav>
