<div class="loginpage">
  <img class="logo-login" src="img/logo-bottled.png" alt="">
  <div class="login-container">

    <h1>Forgot Password</h1>
    <form ng-submit="submitForgot()">
      <input ng-model="email" type="email" name="" value="" placeholder="EMAIL">
      <input type="submit" value="RESET" class="login-button2 onClickLoad">
    </form>
    <p class="loginerror">{{loginerror}}</p>
    <a ng-click="goBack()" class="login-button2"><span>GO BACK</span></a>

  </div>
  <div class="privacy-container">
    <p>We respect your privacy.</p>
    <p>Please review our Terms of Service and Privacy Policy</p>
  </div>

  <div class="forgot-overlay hide-loading-overlay fade-loading-overlay">
    <h3 class="send-overlay-header">RESET EMAIL SENT</h3>
    <p class="send-overlay-paragraph">Go check your mailbox to reset your password</p>
  </div>
</div>
