<div class="introductionpage">

  <h1 class="introductionpage-header"></h1>
  <!-- <h1 class="introductionpage-header-sub">This is Little Notes</h1> -->

  <div class="bottle found-bottle">
    <h1 class="bottle-text-intro">Hi there {{nickname}}</h1>
    <p class="bottle-text">
      This is Little Notes.<br />
      An application to share thoughts, discover stories, and inspire people.<br /><br />
      Go ahead, start dropping some Little Notes for others to find and start discovering stories all over the world.
    </p>
    <p class="bottle-text-ending">- Little Notes</p>
  </div>

  <a class="login-button2 introduction-continue-button" ng-click="submitIntroductionContinue();"><span>I GET IT</span></a>


</div>
