.pulse {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  /*background: rgb(233, 250, 251);*/
  background: rgb(166,213,215);
  transition: all .3s;
}
.pulse .pulse-shape{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  /*background: rgb(233, 250, 251);*/
  background: rgb(166,213,215);
  transition: all .3s;
  z-index: 100;

}
.pulse img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 65px;
  z-index: 100;
}
.pulse:before, .pulse:after, .drop-button-pulse:before, .drop-button-pulse:after {
  content: '';
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: scale(0.5);
  transform-origin: center center;
  z-index: 0;
}
.pulse:before, .pulse:after {
  width: 80px;
  height: 80px;
  background-color: rgb(233, 250, 251);
  animation: pulse-me 3s linear infinite;
}
.drop-button-pulse:before, .drop-button-pulse:after {
  width: 40px;
  height: 40px;
  background-color: rgb(7, 138, 142);
  animation: drop-button-pulse-me 3s linear infinite;
}
.pulse:after, .drop-button-pulse:after {
  animation-delay: 1s;
}
@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.15;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
@keyframes drop-button-pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0.2;
  }
  50% {
    opacity: 0.35;
  }
  70% {
    opacity: 0.15;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.pulse-disable{
  opacity: 0;
}


/*.pulse-animation{
  width: 110px;
  height: 110px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 17px 6px;
  animation: pulse-animation 3s linear infinite;
}
@keyframes pulse-animation {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.15;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}*/
